<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>app_blue_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app_blue_icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>app_cyan_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app_cyan_icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>app_green_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app_green_icon</string>
				</array>
			    <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
            <key>app_yellow_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app_yellow_icon</string>
				</array>

			    <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
            <key>app_orange_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app_orange_icon</string>
				</array>
			    <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
            <key>app_magenta_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app_magenta_icon</string>
				</array>
			    <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
            <key>app_red_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>app_red_icon</string>
				</array>
			    <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string></string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>app_yellow_icon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
		</dict>
	</dict>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>スパチャ</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ja</string>
	</array>
	<key>CFBundleName</key>
	<string>spacha_maker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>プロフィール写真の設定や写真の投稿に使用します。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>このアプリはマイクを使用します</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>プロフィール写真の設定や写真の投稿に使用します。</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>利用者の特性に合わせた最適なコンテンツをお届けするために使用します。</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
